=============== 
Unity generated
===============
Temp/
/Library/*
server.dat
*.apk
/_WORKING/autosave/*


=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
obj/
.vs
.vscode
.vsconfig
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.idea

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

============
Yodo1 generated
============
*.iml
Project
*.unitypackage
*.unitypackage.meta
*.APK
*.IPA
Logs/*
AssetBundles/*
!AssetBundles/Textures


.build
.build/*.*
~$*
.~*


Assets/GeneratedLocalRepo**
Assets/StreamingAssets/**/*.meta
Assets/Models/animals/Materials
ProjectSettings/AndroidResolverDependencies.xml
**/crashlytics_build_id.*
remote_config_data
MemoryCaptures

#folders

.vs/
.idea/
.vscode/
Binaries/
Intermediate/
DerivedDataCache/
Saved/
Content/StartContent/
ThirdParty/
Build/

#files

*.vscode
*.sln
*.xcodeproj
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcworkspace

